@import '../styles/golfstatus.scss';

gs-input {
  @include h-stack(center, center);
  border: 1px solid rgba($grey-400, 0.5);
  @include padding($medium-pad);
  border-radius: $medium-radius;
  white-space: nowrap;
  @include item-font();
  min-height: 46px;
  transition: $fast;
  gap: $small-pad;

  &:focus-within{
    box-shadow: $focus-shadow;
  }

  .left-icon {
    cursor: pointer;
  }

  .right-icon {
    cursor: pointer;
  }

  input {
    appearance: none !important;
    border: none;
    background: transparent;
    width: 100%;
    @include padding($small-pad);
    &:focus {
      outline: none;
    }
    &::placeholder{
      opacity: .5;
    }
  }
   
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
       -webkit-appearance: none;
   }

  textarea{
    &::placeholder{
      opacity: .5;
    }
  }
  

  &.select{
    border: none;
    padding: 0;
  }
  &:hover{
    background: rgba($grey-400, .1);
  }
}

.dark {
  gs-input {
    border: $dark-border;
    
    input[type="date"]::-webkit-calendar-picker-indicator {
      cursor: pointer;
      border-radius: 4px;
      margin-right: 2px;
      opacity: 0.6;
      filter: invert(0.8);
      transition: .3s;
    }

    input[type="date"]::-webkit-calendar-picker-indicator:hover {
      opacity: 1
    }

  }

}

// Move the calendar icon to the left of the input
input[type="date"]{
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}
input[type="date" i]{
  align-items: center;
  justify-content: flex-start;
  font-family: unset;
  display: inline-flex;
  flex-direction: row;
}

input[type="date"]::-webkit-calendar-picker-indicator { 
  order: 0;
  margin: 0;
  padding: 0 $medium-pad;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator { 
  order: 0;
  margin: 0;
  padding: 0 $medium-pad;
}

input::-webkit-datetime-edit { 
  order: 1;
  text-transform: uppercase;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  font-size: $small-font;
  line-height: $regular-line-height;
}

textarea{
  width: 100%;
  resize: none;
  border: none;
  @include padding($small-pad);
  outline: none;
  font: inherit;
  background: transparent;
}

gs-select{
  width: 100%;
}

.dark{
  gs-input{
    input{
      color: $white;
    }
    textarea{
      background-color: $grey-700;
      color: $white;
    }
  }
}

