@import '../../gs-lib/styles/golfstatus.scss';

.aasf-header {
  display: flex;
  align-items: center;
  gap: $medium-large-pad;
  padding: $x-large-pad;
  border-bottom: $light-border;
}

.aasf-header-icon {
  flex-shrink: 0;
  font-size: $x-large-font;
  color: $green;
}

.aasf-header-title {
  margin: 0;
  font-size: $large-font;
  font-weight: $bold-font-weight;
  color: $grey-800;
}

.aasf-body {
  display: flex;
  flex-direction: column;
  gap: $large-pad;
  padding: $small-layout-pad $x-large-pad;
}

.aasf-desc {
  font-size: $small-font;
  color: $grey-800;
  opacity: 0.7;
  line-height: $regular-line-height;
}

.aasf-round-list {
  display: flex;
  flex-direction: column;
  gap: $medium-large-pad;
  border: 1px solid $grey-200;
  border-radius: $medium-large-border-radius;
  padding: $x-large-pad;
}

.aasf-round-card {
  background: $grey-50;
  border-radius: $medium-large-border-radius;
  padding: $x-large-pad;
}
